/* ================================= 
  Base Element Styles
==================================== */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	line-height: 1.5;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.main-header {
	padding-top: 2em;
	text-align: center;
	margin-bottom: 10%;
	color:#3e3f3f;
	
}

.main-header, 
.nav {
	display: flex;
	flex-direction: column;
	text-align: center;
	color:#3e3f3f;
	font-family: "Open Sans", sans-serif;
}

.nav {
	text-transform: uppercase;
}

.nav a {
	display: block;
	color: #3e3f3f;
	font-size: 1.125em;
	font-weight: 700;
	padding: 2%;
	margin: 2%;
}

.main-footer {
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #d6dee9;
	margin-left: 20px;
	margin-right: 20px; 
	padding-bottom: 25px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}

.footnav,
.navbar,
.name
 {
	display: none;
}

/* ---- Layout Containers ---- */
.card {
	font-weight: 100;
	text-align: center;
	display: block;
	margin: 3px;
	padding: 2px;
	padding-bottom: 40px;
	color:  #797383;
	font-family: 'Roboto', sans-serif; 
	
}

.card img {
	max-width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.card h2 {
	font-family: "Open-Sans", sans-serif;
	font-weight: lighter;
	color: #3e3f3f;
}

.card h3 {
	margin-left: 10%;
	margin-right: 10%;
}

#banner {
	margin-bottom: 10%;
}

#banner img {
	width: 80%;
}

#port {
	margin-bottom: 30px;
}

#port a:hover {
	color:#3e3f3f;
}

#contact {
	padding-bottom: 25px;
}

#contact h3 {
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
}

#contact p {
	text-transform: none;
	font-weight: bold;
	margin-left: 15%;
	margin-right: 15%;
}

#contact a {
	font-family:"Concert One", sans-serif;
	font-weight: 400;
	color:#6b6d6d;
	
}

#music img {
	max-height: 70%;
	max-width: 70%;
}



/* ---- Page Elements ---- */

a {
	text-decoration: none;
	color:#3e3f3f;
}

a:hover {
	color: rgb(34, 119, 17);
}

.t-border {
	border-top: 2px solid #dfe2e6;

  }


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

	body {
		padding-top: 68px;
		
	}
	
	.container {
		max-width: 100%;
		padding-left: 5%;
		padding-right:5%;
		
	}
	
	  .main-header, 
	  .nav {
		text-align: center;
		display: flex;
		justify-content: space-evenly;
	}

	.nav {
		flex-direction: row;
		padding: 0 20%;
		
	}
	
	.footnav {
		display: block;
		width: 95%;
		text-align: center;
		min-height: 30px;
		/*border-top: 1px solid #d6dee9;*/
		margin-left: 20px;
		margin-right: 20px;
		padding-bottom: 3%;
	}

	.navbar {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		color:#3e3f3f;
		font-family: "Open Sans", sans-serif;
		text-transform: Uppercase;
	}

	.name {
		display: block;
		margin-right: auto;
	}

	.navbar li {
		padding: 5px 10px 10px 10px;
	  }
	
	.container {
		display: inline-block;
	}

	.col {
		max-width: 49%;
	}
	
	.primary {
		float: left;
	}
	
	.secondary {
		float: right;
	}
	
	#banner h3 {
		max-width: 45%;
		text-align: left;
		padding-left: 0;
		margin-left: 5%;
	}

	#banner img {
		max-width: 35%;
		margin-right: 5%;
	}

	#contact {
		padding: 0 12% 5%;
	}

	#footer {
		display: none;
		
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {


	body {
		padding-top: 68px;
		
	}
	  
	.main-header {
		width: 100%;
		min-height: 50px;
		display: flex;
		flex-direction: row;
		margin-bottom: 2%;
		padding-top: 0%;
	}

	.nav {
		padding: 0 15%;
	}

	.nav li {
		padding: 0px 20px 10px 20px;
		justify-content: space-around;
		margin-left: auto;
		
	}

	.main-header h1 {
		margin-top: 0;
		margin-right: auto;
		margin-left: 14%;
	}

	.container {
		max-width: 100%;
		padding-left: 5%;
		padding-right:5%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	
	
	
	.footnav {
		display: block;
		width: 75%;
		text-align: center;
		min-height: 30px;
		/*border-top: 1px solid #d6dee9;*/
		margin-left: 12%;
		margin-right: 20px;
		padding-bottom: 3%;
		justify-content: center;
	}

	

	

	.navbar li {
		padding: 5px 10px 10px 10px;
	  }
	
	.t-border {
	border-top: 2px solid #dfe2e6;
	
  }

	.col {
		max-width: 29%;
	}

	#port {
		text-align: center;
		margin: 0;
	}

	#banner {
		margin: 0 10% 0 10%;
	}
	
	#banner h3 {
		max-width: 45%;
		text-align: left;
		padding-left: 0;
		margin-left: 5%;
	}

	#banner img {
		max-width: 35%;
		margin-right: 5%;
	}

	#contact {
		padding: 0 12% 5%;
		margin: 0 10% 0 10%;
	}

	#footer {
		display: none;
		
	}
	

}